@model Project_63135935.Models.GioHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GioHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sodt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sodt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachigiaohang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachigiaohang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuyetDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuyetDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
